/*---------RESETS---------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }
  
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }

  /*-------------COTAINER/GRID-------------*/
.container{
    
    max-width:140rem;
    margin:0 auto;
    padding:1.5rem;
}
  


/*-------------HEADER-------------*/
.header{
    background:#222222;
        position:relative;
        position: fixed;
        width: 100%;
}

.header .header__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.header .branding{
    display:flex;
    align-items:center; 
}

.header .branding h3{
    color:#ffffff;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .branding h3 span{
    color :#ffa700;
}

.header .header__nav ul{
    display:flex;
}
.header .header__nav ul li {
    margin-right:2rem;
}

.header .header__nav ul li a{
    color:#ffffff;
    font-size: 2rem;
    padding: 2rem 0;
}

.header .header__nav ul li:hover a{
    color:#ffa700;
}

.toggle__menu{
    display:none;
} 


.toggle__menu span{
width: 3rem;
height: .3rem;
background-color: #ffa700;
display:block;
margin-top:.5rem;
border-radius:5rem;
transition: .5s ease;
}

@media screen and (max-width:500px){
    .toggle__menu{
        display:block
    }
    .toggle__menu.open span:first-child{
        transform: translate(0, 10px) rotate(225deg);
        transition: .5s ease;
    }

    .toggle__menu.open span:nth-child(2){
        opacity:0;
        transition: .5s ease;
    }
    
    .toggle__menu.open span:last-child{
        transform: translate(0, -7px) rotate(-225deg);
        transition: .5s ease;
    }
    
.header .header__nav{
    background:rgb(17, 16, 16);
    position: absolute;
    top:10.3rem;
    right:-100rem;
    height: 100vh;
    width:100%;
    transition: .5s ease;
}

.header .header__nav.open{
    right:0;
    transition: .5s ease;
}

.header .header__nav ul{
    display:block;
    text-align: center;
}

.header .header__nav ul li{
        padding: 3rem 0;
        margin-right: 0;
}

.header .header__nav ul li:hover{
        background:#2b2b2b;
        cursor: pointer;
}

.header .header__nav ul li a{
        
    font-size:3rem;
}

}
/*-------------BANNER-------------*/
.banner{
    padding-top: 13rem;
    padding-bottom: 5rem;
}
.banner .banner__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.banner .banner__text{
    max-width:60rem;
}
.banner .banner__text h1{
    color:#ffa700;
    font-size:10rem;
    font-weight:800;
    line-height:1.1;
}
.banner .banner__text p{
    margin:3rem 0;
}
@media screen and (max-width:500px){
    .banner .banner__wrapper{
        flex-direction:column-reverse;
    
    }
    .banner .banner__text{
        text-align: center;
        margin-top: 5rem;
    }
    .banner .banner__text h1{
        font-size: 3rem;
    }
    .banner .banner__text p{
        text-align: justify;
    }
    .banner img{
        width: 25rem;
    }
}
/*-------------REPEATABLE PATTERNS-------------*/
.bb{
    border-bottom: 1px solid black;
}
.btn{
display:inline-block;
padding:1.5rem 2rem;
border-radius:5rem;

}

.btn.yellow{
    background:#ffa700;
    color:#222222;
    border:1px solid #ffa700;
}

.btn.yellow:hover{
    background:#ffffff;
    border:1px solid #ffffff;
}
.btn{
    display:inline-block;
    padding:1.5rem 2rem;
    border-radius:5rem;
    
    }
    
    .btn.black{
        background:#222222;
        color:#ffffff;
        border:1px solid #222222;
    }
    
    .btn.black:hover{
        background:#ffffff;
        border:1px solid #222222;
        color: #222222;
    }
    .btn.white{
        background:#ffffff;
        color:#222222;
        border:1px solid #222222;
    }
    
    .btn.white:hover{
        background:#222222;
        border:1px solid #ffffff;
        color: #ffffff;
    }
    
    
/*-------------SERVICES-------------*/

.hm-services{
    padding: 5rem 0;
    background:#222222;
}

.hm-services .hm-services__item{
    text-align:center;
    max-width: 40rem;
}

.hm-services .hm-services__wrapper{
    display: flex;
    justify-content: space-between;
}

.hm-services .hm-services__item i{
color:#ffa700;
font-size:6rem;
}

.hm-services .hm-services__item h4{
    color:#ffa700;
    font-size:2rem;
    font-weight:600;
    margin:2rem 0;
} 
.hm-services .hm-services__item p{
    color:#ffffff;
    margin-bottom:2rem;
    text-align: justify;
}
.hm-services .hm-servecies__item a:hover{
    border:1px solid #ffffff;
}
@media screen and (max-width:500px){
    .hm-services .hm-services__wrapper{
        flex-direction: column;
    }
    .hm-services .hm-services__item{
        margin: 0 auto;
    }
    .hm-services .hm-services__item:nth-child(2){
        margin:10rem auto;
    }
}
/*-------------ABOUT-------------*/
.about{
    padding: 5rem 0;

}
.about .about__text{
    text-align: justify;
    max-width: 70rem;
}
.about .about__text h1{
    color:#ffa700;
    font-size:5rem;
    font-weight:500;
    margin:2rem 0;
}
.about .about__wrapper{
    display: flex;
    margin-bottom:10rem;
    justify-content: space-between;
    align-items: center;
    } 
.about .about__text p{
    margin :2rem 0; 
    align-items:justify; 
}
@media screen and (max-width:500px){
    .about .about__wrapper{
        flex-direction:column-reverse;
    
    }
    .about .about__wrapper{
        flex-direction: column;
    }
    .about .about__text{
        text-align: center;
        margin-top: 5rem;
    }
    .about .about__text h1{
        font-size: 3rem;
    }
    .about .about__text p{
        text-align: justify;
    }
    .about img{
        width: 25rem;
    }
}
/*-------------HM TRENDS-------------*/

.hm-trends{
    padding:5rem 0;
    background:#222222;

}
.hm-trends .hm-trends__title{
    margin-bottom: 5rem;
}

.hm-trends .hm-trends__title h2{
    color:#ffa700;
    font-size :5rem;
    font-weight:600;
}
.hm-trends .hm-trends__title p{
    color:#ffffff;
}
.hm-trends .hm-trends__cards{
    background:#ffffff;
    border-radius: 2rem;
    max-width: 42rem;
}
.hm-trends .hm-trends__wrapper{
    display:flex;
    justify-content:space-between ;
}


.hm-trends .hm-trends__cards img{
width :100%;
}
.hm-trends .hm-trends__cards .hm-trends__cards__text{
    padding: 2rem;
}
.hm-trends .hm-trends__cards .hm-trends__cards__text h4{
    color:#ffa700;
    font-size: 2rem;
    font-weight: 600;
}
.hm-trends .hm-trends__cards .hm-trends__cards__text p{
    margin-top:2rem;
    margin-bottom:5rem;
}
.hm-trends .hm-trends__cards .hm-trends__cards__text a{
    color:#ffa700;
}
@media screen and (max-width:500px){
    .hm-trends .hm-trends__wrapper{
        flex-direction:column-reverse;
        margin: 2rem ;
        grid-gap: 5rem;
    
    }
    .hm-trends .hm-trends__text{
        text-align: center;
        margin-top: 5rem;
    }
    .hm-trends .hm-trends__text h4{
        font-size: 3rem;
    }
    .hm-trends .hm-trends__text p{
        text-align: justify;
    }
    .hm-trends img{
        width: 25rem;
    }
}
/*-------------CONTACT-------------*/
.hm-contact{
    padding:10rem 0;
    background:#ffa700;
}
.hm-contact .hm-contact__text{
    text-align: center;
}

.hm-contact .hm-contact__text h2{
    color: #222222;
    font-size :4rem;
    font-weight:600;
    margin: 1rem;
}
.hm-contact .hm-contact__text p{
    margin-bottom: 36px;
}

/*-------------FOOTER-------------*/
.footer{
    background:#222222;
    padding: 2rem 0;
}
.footer__text p{
    text-align: center;
    
}
.footer .footer__wrapper{
    display: flex;
    align-items:center;
    justify-content: space-between;
    color:gray;
    font-weight: 500;

}
.footer .footer__text{
display:inline-block;
font-size: 2rem;
margin-left: 2rem;
}
.footer .footer__text p{
    display:inline-block;
    font-size: 1.5rem;
    margin-bottom: 36px;
    text-align: center;
    }
    .footer .footer__text ul li{
        margin-right: 2rem;
        
    }
    .footer .footer__text ul li a i{
        color:gray; 
        font-size: 2rem;
    }
    .footer .footer__text ul li a i:hover{
        color:#ffa700; 
        font-size: 2rem;
    }
    .footer .footer__text ul{
        display:flex;
    }
    @media screen and (max-width:500px){
        .footer .footer__wrapper{
            text-align: center;
            display: block;
           
    }
    .footer .footer__text p{
        text-align: center;
        margin: 2rem 0;
       
    }
} 
    /*-------------ABOUT-BANNER-------------*/
.about-banner{
    padding-top: 13rem;
    padding-bottom: 5rem;
}

.about-banner .about-banner__wrapper{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.about-banner .about-banner__text{
    max-width:70rem;
    justify-content:space-between;
}

.about-banner .about-banner__text h2{
    color:#ffa700;
    font-size:3rem;
    font-weight:800;
    line-height:1.1;
}

.about-banner .about-banner__text p{
    margin:3rem 0;
    justify-content:space-between;
    text-align: justify;
}

.about-banner .about-banner__text h3{
    font-size: 2rem;
}

.about-banner .about-banner__wrapper i{
    color:#ffa700;
    font-size: 2.8rem;
}

.about-banner .about-banner__wrapper ul{
    display: flex;
    justify-content: space-between;
    max-width: 25rem
}
.about-banner ul{
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
}
.about-banner ul li a{
    color:#ffa700;
}
@media screen and (max-width:500px){
    .about-banner .about-banner__wrapper{
        flex-direction:column-reverse;
    }

    .about-banner .about-banner__text{
        text-align: center;
        margin-top: 5rem;
        flex-direction:column-reverse;
    
    }
    .about-banner .about-banner__text h1{
        font-size: 3rem;
    }
    .about-banner .about-banner__text p{
        text-align: justify;
    }
    .about-banner img{
        width: 25rem;
    }
    .about-banner .about-banner__wrapper ul{
        justify-content: center;
        margin-left: 9rem;
        justify-content: space-between;
    }
}
/*-----------MY-RECENT-PROJECTS--------------*/
.abt-project{
    padding:5rem 0;
    background:#222222;

}
.abt-project .abt-project__title{
    margin-bottom: 5rem;
}

.abt-project .abt-project__title h2{
    color:#ffa700;
    font-size :3rem;
    font-weight:600;
}
.abt-project .abt-project__title p{
    color:#ffffff;
}
.abt-project .abt-project__cards{
    background:#ffffff;
    border-radius: 2rem;
    max-width: 42rem;
}
.abt-project .abt-project__wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
    

}

.abt-project .abt-project__cards img{
width :100%;
}
.abt-project .abt-project__cards .abt-project__cards__text{
    padding: 2rem;
}
.abt-project .abt-project__cards .abt-project__cards__text h4{
    color:#ffa700;
    font-size: 2rem;
    font-weight: 600;
}
.abt-project .abt-project__cards .abt-project__cards__text p{
    margin-top:2rem;
    margin-bottom:5rem;
}
.abt-project .abt-project__cards .abt-project__cards__text a{
    color:#ffa700;
}
@media screen and (max-width:500px){
    .abt-project .abt-project__wrapper{
        flex-direction:column-reverse;
        display: flex;
        grid-gap: 5rem;
    }
    .abt-project .abt-project__cards{
        margin: 0 auto;
    }
    .abt-project .abt-project__text{
        text-align: center;
        margin-top: 5rem;
    }
    .abt-project .abt-project__text h4{
        font-size: 3rem;
    }
    .abt-project .abt-project__text p{
        text-align: justify;
    }
    .abt-project img{
        width: 25rem;
    }
}
/*-------------Svc-BANNER--------------*/
.svc-banner{
    padding-top: 13rem;
    padding-bottom: 5rem;
}

.svc-banner .svc-list{
    display:flex;
    align-items: center;
    justify-content:space-between;
    margin: 0 auto;
    max-width: 140rem;
    padding: 1.5rem;
}

.svc-banner .svc-banner__text{
    max-width: 70rem;
}
.svc-banner .svc-banner__text h1{
    color:#ffa700;
    font-size:3rem;
    font-weight:800;
    line-height:1.1;
}
.svc-banner .svc-banner__text p{
    margin:3rem 0;
    text-align: justify;
    max-width: 70rem;
    
}
.svc-banner .svc-banner__text h2{
    color: #ffa700;
    font-size: 2rem;
    font-weight: 600;
    
}

.svc-banner ul{
    display: flex;
    font-size: 3rem;
    
}
.svc-banner ul li a{
    color: #ffa700;  
}
.svc-banner .svc-banner__wrapper ul{
    align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.svc-banner .svc-banner__wrapper:nth-child(2){
    background: #222222;
    color: #ffffff;
    justify-content:space-between;
   
}
.svc-banner .italic p{
    font-style: italic;
    margin-top: .2rem;
}
.svc-banner .svc-banner__wrapper:last-child{
    margin-top: 2rem;
}
.svc-banner .svc-banner__wrapper:nth-child(2) img{
    margin-top: 2rem;
} 
@media screen and (max-width:500px){
    .svc-banner .svc-list{
        flex-direction:column-reverse;
    }

    .svc-banner .svc-wrapper.kamote{
        display: flex;
        text-align: center;
        flex-direction:column-reverse;
    }
    .svc-banner .svc-banner__text h1{
    text-align: center;
        font-size: 2rem;
        margin-top: 2rem;
        
    }
    .svc-banner .svc-banner__text p{
        text-align: justify;
    }

    .svc-banner .italic {
    text-align: center;
    }
    .svc-banner img{
        width: 25rem;
    }
    .svc-banner .svc-banner__wrapper ul{
        justify-content: center;
        margin-left: 9rem;
        justify-content: space-between;
    }
    .svc-banner .italic p{
        font-style: italic;
        margin-top: .2rem;
        text-align: center;
    }
    .svc-banner .svc-banner__wrapper:nth-child(2) img{
        order:1;
        margin-top: 2rem;
    } 
    .svc-banner .svc-banner__wrapper ul{
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        
        
    }
    .svc-banner .svc-banner__wrapper:last-child{
        margin-top: 2rem;
}
}
/* -----------------UPDATE------------*/
.update{
    padding-top: 13rem;
    padding-bottom: 5rem;
}
.update .update__wrapper{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-gap: 10rem;
}

.update .container h1{
    color: #ffa700;
    font-size: 3rem;
    font-weight: 600;
}
.update .container p{
    text-align: justify;
    max-width: 90rem;
}
.update .update__wrapper .update-left__wrapper{
    max-width: 90rem;
}
.update .update__wrapper .update-left__wrapper img{
    width: 90rem;
}

.update .container hr{
    max-width: 90rem;
    justify-content: center;
}
.update__wrapper .update-left__wrapper h3{
    color: #ffa700;
    font-size: 3rem;
    font-weight: 600;
}
.update__wrapper .update-left__wrapper ul{
    display: flex;
}
.update__wrapper .update-left__wrapper ul li{
    margin-right: 2rem;
}
.update .container h1{
    margin: 2rem 0;
}
.update__wrapper .update-left__wrapper h3{
    margin: 2rem 0;
}
.update__wrapper .update-left__wrapper p{
    display: flex;
    justify-items: center;
    text-align: justify;
}
.update__wrapper .update-left__wrapper h2{
    color: #ffa700;
    margin: 2rem 0;
    font-size: 2rem;
} 

/*--------------CATEGORIES---------------*/
.update-right__wrapper .categories td{
    width: 100%;
    justify-content: space-between;
}
.update .update-right__wrapper1{
    margin-top: 5rem;
}
.update-right__wrapper .categories tr td{
    height: 5rem;
}
/*---------------RECENT POST-------------*/
.update .post h1{
    margin-top: 20rem;
}
.update .post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}
.update .post p{
    font-weight: 600;
    text-align:justify ;    
    margin-left: 2rem;
}
.update .post h4{
   
    text-align:justify ;
    margin-left: 2rem;
}
.update .update__wrapper .update-right__wrapper .r-text{
    margin-top: 16rem;
}
/*---------------TAGS-------------*/
.update__wrapper .update-right__wrapper .tags a{
    margin: 1rem 1rem;
}
.update .update__wrapper .update-right__wrapper .text-tags{
    margin-top: 12.5rem;
}
@media screen and (max-width:500px){
    .update .update__wrapper{
        display: block;
    justify-content: center;
    }

.update .container{
    text-align: center;
}
.update .container .p{
    text-align: justify;
}

.update .update__wrapper .update__icons{
    justify-content: center;
    font-size: 1rem;
    margin: 0 auto;
}
.update__wrapper .update-right__wrapper .tags a{
    display: flex;
    text-align: center;
    justify-content: center;
}
.update__wrapper .update-right__wrapper.a{
    justify-content: center;
}
.update-right__wrapper .categories{
    text-align: left ;
    margin:0 auto;
}
.update .post {
    margin:2rem;
    text-align: justify;
}
.update .post p{
    text-align: justify;
}
.update .update__wrapper .update-right__wrapper .text-tags{
    margin-top: 5rem;
    margin-left: -1rem;
    margin-right: -1rem;
  

}
.update .update__wrapper .update-right__wrapper .r-text{
    margin-top: 5rem;
    margin-left: -2rem;
   

}

.update .update__wrapper .update-right__wrapper .r-text{
  margin-left: -2rem;
  margin-right: -2rem;

}
.update .update__wrapper .update-right__wrapper .r-text p{
    display: flex;
}

}
/*------------CONTACT PAGE------------*/

.cnt-contact__banner{
    padding-top: 15rem;
    padding-bottom: 5rem;
    background: #222222;
    border-bottom: 2px solid #d3d3d3;
}
.cnt-contact__banner .cnt-contact__wrapper{
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-gap: 15rem;
}

.cnt-contact__banner .cnt-contact__wrapper p{
    color:#f5f5f5;
}

.cnt-contact__banner .container h2{
    margin-bottom: 2rem;
    color: #ffa700;
    font-size: 5rem;
    font-weight: 600;
}

.cnt-contact__banner .cnt-contact__details p{
    margin-bottom: 7rem;
}

.cnt-contact__banner .contacts{
    display: flex;

}
.cnt-contact__banner  .cnt-contact__details .contact__subtitle{
    margin-bottom: 7rem;
}

.cnt-contact__banner .contacts p{
    display: inline;
}

.cnt-contact__banner .contacts i{
    color: #ffa700;
    font-size: 25px;
    margin-right: 5rem;
}

.cnt-contact__banner .contact__icons ul{
display: flex;
font-size: 25px;
}

.cnt-contact__banner .contact__icons ul li a{
color: #f5f5f5;
margin-right: 2rem;
}

.cnt-contact__banner .contact__icons ul li a:hover{
color: #ffa700;
}

.cnt-contact__banner .contact__form input{
width: 100%;
height: 5rem;
}

::placeholder{
padding: 2rem;
}

.cnt-contact__banner .contact__form #name{
    background-color: #d9d9d9;
    margin-bottom: 1.5rem;
   
}

.cnt-contact__banner .contact__form #email, #msg{
    background-color: #d9d9d9;
    margin: 1.5rem 0;
}

.cnt-contact__banner .contact__form .submit__btn{
    display: flex;
    justify-content: flex-end;
}

.cnt-contact__banner .contact__form textarea{
width: 100%;
padding-bottom: 15rem;
}

.cnt-contact__banner .contact__form .submit__btn{
    margin-top: 5rem;
}

@media screen and (max-width: 500px){
    
.cnt-contact__banner .cnt-contact__wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5rem;
    }
     
.cnt-contact__banner .container{
    margin-left: 2rem;
    margin-right: 2rem;
    }

.cnt-contact__banner .contact__icons ul{
    justify-content: center;
    }

.cnt-contact__banner .container h2{
    font-size: 3rem;
    text-align: center;
    }

.cnt-contact__banner  .cnt-contact__details .contact__subtitle{
    text-align: center;
    margin-bottom: 5rem;
    }

.cnt-contact__banner .contact__form .submit__btn{
    margin-top: 3rem;
    justify-content: center;
    margin-bottom: 15rem;
    }

}

